@use '@/styles/forms';
@use '@/styles/helpers';
@use '@/styles/colors' as *;
.loginForm{
    @apply w-[400px] relative;
    margin: 100px auto 0;
    .formTitle{
        color: $blue;
        @apply text-[25px] mb-[35px];
    }
    .gmailLogin{
        color: $white;
        background-color: $darkGreen;
        @apply w-[100%] my-[15px] relative flex flex-row justify-center items-center;
        .icon{
            @apply w-[22px] h-[22px] rounded-[10px] mx-[8px];
            img{
                @apply h-[100%] w-[100%];
                filter: invert(100%) sepia(0%) saturate(7488%) hue-rotate(186deg) brightness(96%) contrast(104%);
            }
        }
        span{
            @apply mt-[4px];
        }
    }
}