@use '@/styles/forms';
@use '@/styles/helpers';
@use '@/styles/reuseable';
@use '@/styles/colors' as *;

@reference 'tailwindcss';
.heroBanner {
    @apply flex flex-col lg:flex-row
    justify-between items-center
    rounded-3xl
    p-6 md:p-8 lg:p-10
    gap-10
    text-white;

    background: linear-gradient(
        135deg,
        #0F4C81,
        #2F80ED,
        #56CCF2
    );

    .left {
        @apply w-full lg:w-3/5
        text-center lg:text-left;

        .badge {
            @apply bg-white text-blue-700
            px-4 py-2 rounded-full
            text-sm font-semibold
            inline-block;
        }

        h1 {
            @apply mt-5
            text-3xl md:text-4xl lg:text-5xl
            font-bold
            leading-tight;
        }

        p {
            @apply mt-5
            text-base md:text-lg
            leading-7 md:leading-8
            opacity-90;
        }

        .features {
            @apply flex flex-col sm:flex-row
            gap-3 sm:gap-6
            mt-8
            text-sm md:text-base
            font-semibold
            justify-center lg:justify-start;

            > span {
                @apply inline-flex items-start gap-2 text-[14.5px];
            }

            .check {
                @apply shrink-0 -m-px;
                filter: invert(62%) sepia(45%) saturate(6153%)
                    hue-rotate(87deg) brightness(96%) contrast(89%);
            }
        }
    }

    .right {
        @apply w-full lg:w-auto;

        .imageContainer {
            @apply relative
            w-full
            max-w-md
            mx-auto
            h-64 md:h-80 lg:w-95 lg:h-70
            rounded-[20px]
            overflow-hidden
            drop-shadow-2xl;

            img {
                @apply w-full h-full object-cover;
            }
        }

        .btngreen {
            color: $white;
            background-color: $border_green;

            @apply block
            w-full
            mt-4
            text-center
            cursor-pointer
            py-3
            px-5
            rounded-[10px]
            text-sm
            font-semibold;
        }
    }
}

.stats{
    @apply grid grid-cols-4 gap-6 my-10;
}

.statCard{
    @apply bg-white rounded-3xl shadow-lg p-6 text-center mb-4;
}

.statCard h2{
    color: $orange;
    @apply text-3xl font-bold;
}

.statCard span{
    @apply text-gray-500;
}

.uploader{
  @apply w-125 mx-auto clear-both relative;
  .npt{
    @apply p-0;
  }
}
.formFilters{
    @apply inline-block mt-2.5 relative;
    .customFilters{
        @apply mb-0 -mt-4;
            .lbl{
                color: $lightBlack;
                @apply text-[10px] uppercase;
                span{
                    color: $red;
                    @apply text-[13px] float-right ml-1.25 -mt-0.75;
                }
            }
            .npt{
                @apply p-0;
            }
            .selectedClient{
                @apply flex-1;
            }
            .monthYear{
                @apply w-40;
            }
            .selectParentDat, .selectedChildDat{
                @apply w-75;
            }
        }
}

.tableRecords{
    @apply relative;
    .check{
        @apply inline;
        filter: invert(62%) sepia(45%) saturate(6153%) hue-rotate(87deg) brightness(96%) contrast(89%);
    }
    .activeRow, .activeRow td, .activeRow:hover td{
      background-color: $lightGray !important;
    }
    .client{
      p{
        @apply text-[11px] -mt-0.5;
      }
    }
    .summaryRow{
      color: $lightBlue;
      @apply font-bold;
      td{
        @apply px-2.5!;
      }
    }
    .actions{
        .action{
            @apply mx-1 cursor-pointer;
            span{
              @apply relative text-[7px];
            }
        }
    }
}
.tblBtns{
    @apply flex flex-row mt-5 w-130;
    .button{
        @apply ml-2;
    }
}
.customFileUpload{
    border: 1px solid $gray;
    background-color: $lightGray;
    @apply w-125 relative overflow-hidden cursor-pointer h-42.5 rounded-[20px] mx-auto my-5;
    
    &.hasImage{
        border: 0;
    }
    &.err{
        border-color: $red;
    }
    &.disabled{
        background-color: $gray;
        @apply cursor-not-allowed pointer-events-none opacity-[.3];
    }
    .customFile{
        @apply h-full flex cursor-pointer items-center flex-col justify-center;
        input[type='file'] {
            @apply hidden
        }
        .empty_image{
            @apply w-12.5;
            img{
                @apply w-7.5 h-7.5;
            }
        }
        img{
            @apply mb-0;
            &.browse_image{
                @apply object-cover m-0 w-[full];
            }
        }
        p{
            @apply mb-1.25;
        }
        span{
            @apply text-center text-[12px];
        }
    }
    .remove_featured{
        @apply absolute top-2.5 z-1 right-2.5 w-7 p-2 flex rounded-[50%] overflow-hidden items-center justify-center;
        img{
            @apply w-full;
        }
    }
}