@use '@/styles/forms';
@use '@/styles/helpers';
@use '@/styles/colors' as *;
@reference 'tailwindcss';
.modelTitle{
  @apply px-2 mt-4;
  strong{
    @apply text-[20px];
  }
  p{
    @apply -mt-0.5 mb-4;
  }
}
.userTypes{
  @apply flex flex-row mt-3;
  li{
    @apply w-[50%] p-2;
    .userType{
      border: 1px solid rgba($darkgray, .6);
      @apply flex flex-row w-full relative rounded-[20px] p-5 cursor-pointer;
      p{
        color: $darkgray;
        @apply text-[10px] leading-3;
      }
      img{
        @apply w-12 mr-2.5;
      }
      &:hover, &.checked{
        border-color: $lightBlue;
        background-color: rgba($lightBlue, .1);
        img{
          filter: invert(45%) sepia(15%) saturate(6682%) hue-rotate(179deg) brightness(102%) contrast(106%);
        }
        .checkmark {
          background-color: rgba($lightBlue, .8);
        }
      }
      &.checked{
        input[type=checkbox]{
          &:checked ~ .checkmark {
            background-color: $lightBlue;
            &:after {
              @apply block;
            }
          }
        }
      }
      input[type=checkbox]{
        @apply w-0 h-0 opacity-0;
        &:checked ~ .checkmark {
          &:after {
            @apply hidden;
          }
        }
      }
      .checkmark {
        background-color: $gray;
        @apply top-3 right-3 w-4 h-4 rounded-sm absolute;
        &:after {
          content: "";
          border: solid $white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          @apply hidden absolute top-0.5 left-1.5 w-1.25 h-2.5;
        }
      }
    }
  }
}
.registerUser{
  @apply p-2;
  .npt.err.longErr{
    .errmsg{
      @apply -bottom-0.5;
    }
  }
  .btnblue{
    @apply max-w-70 mx-auto block;
  }
  .loader{
    @apply top-[40%];
  }
  .eyecon{
    @apply absolute top-2.25 right-2.5 w-5 cursor-pointer;
    filter: invert(91%) sepia(26%) saturate(1%) hue-rotate(347deg) brightness(87%) contrast(40%);
    &.show{
        filter: inherit;
    }
  }
  .pwdCheck{
      border: 1px solid $gray;
      background-color: $lightGray;
      @apply absolute w-56.25 p-2.5 z-1 mt-11 rounded-[10px];
    
      p {
          color: $blue;
          @apply text-[12px];
      }
    
      ul {
          @apply ml-2.5;
          li {
              @apply text-[12px] block;
              &.meet_requirement {
                  color: $border_green;
              }
          }
      }
    
  }
}
.success {
  @apply flex items-center justify-center rounded-[20px] w-120;

  .successCheck {
    @apply mr-2.5;

    svg {
      @apply block float-left w-20;
    }

    .path {
      stroke-dashoffset: 0;
      stroke-dasharray: 1000;

      &.circle {
        -webkit-animation: dash .9s ease-in-out;
        animation: dash .9s ease-in-out;
      }
      &.line {
        stroke-dashoffset: 1000;
        -webkit-animation: dash .9s .35s ease-in-out forwards;
        animation: dash .9s .35s ease-in-out forwards;
      }
      &.check {
        stroke-dashoffset: -100;
        -webkit-animation: dashCheck .9s .35s ease-in-out forwards;
        animation: dashCheck .9s .35s ease-in-out forwards;
      }
    }
  }

  .successMessage {
    @apply text-[14px] mt-0.5 text-center;
    h4{
      color: $blue;
      @apply text-[22px] font-semibold;
    }
    p{
      color: $black;
      @apply text-[13px] mb-4 italic leading-4.5;
    }
    .button{
      @apply w-30 mx-auto block;
    }
  }

  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes dashCheck {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes dashCheck {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
}
@media (max-width: 768px) {
  .userTypes{
    @apply flex-col;
    li{
      @apply w-full;
    }
  }
  .success{
    @apply w-full;
    .successCheck {
      @apply mr-2;

      svg {
        @apply w-15;
      }
    }
    .successMessage {
      h4{
        color: $blue;
        @apply text-[18px];
      }
      p{
        color: $black;
        @apply text-[12px];
      }
    }
  }
}