$transparent: transparent;

$black: #000;
$lightBlack: #383737;
$white: #fff;
$gray: #ccc;
$darkgray: #7d7a7a;
$lightGray: #f5f5f5;
$lightGray2: #d8d8d8;
$gray3: #e2e0e0;


$blue: #0077c0;
$darkBlue: #0264a0;
$lightBlue: #009eff;
$border_blue: #054871;

$activeColor: #00ffe2;

$red: #f00;
$border_red: #940f0f;
$green: #14b11c;
$border_green: #008207;
$yellow: #d8c700;
$border_yellow: #7e7407;
$orange: #ee700f;
$border_orange: #9d4603;
$darkGreen: #0e7490;