@use '@/styles/colors' as *;
@reference 'tailwindcss';
.npt{
  @apply flex relative w-full pb-7.5;
  &.err{
    @apply relative;
    textarea, select, input[type=text], input[type=email], input[type=password], input[type=file]
    {
      border: 1px solid rgba($red, .6);
    }
    .errmsg{
      @apply text-[10px] absolute bottom-3.5 right-0;
      color: $red;
    }
  }

	.lbl{
    // font-weight: 600;
    color: $lightBlack;
    @apply absolute -top-3.75 left-0 text-[10px] uppercase;
		span{
			color: $red;
      @apply text-[13px] float-right ml-1.25 -mt-0.75;
		}
	}
  input[type=text], input[type=email], select, textarea, input[type=password]{
    background-color: $transparent;
    border: 1px solid rgba($darkgray, .6);
    @apply px-2.5 py-2 text-[13px] w-full rounded-[10px] text-ellipsis;
    
    &:focus{
      outline: none;
    }
    &:disabled{
      border-color: $gray;
      background-color: $lightGray2;
      @apply cursor-not-allowed;
    }
  }
  select{
    outline: none;
    appearance: none;
    background-color: $white;
    background: $white url('/svgs/arrowDown.svg') no-repeat 96.5% 51%;
    background-size: 12px;
    @apply pr-3.75 mb-1 text-[12px] h-9.5 w-full clear-both float-left;
  }
  .inputValue{
    border-bottom: 1px dashed $lightBlack;
    @apply inline-block text-[14px] mt-1.5 pl-1.25 pb-1.5 w-full;
  }
}
.searchComponent{
    @apply w-95 flex flex-row;
    input[type=text]{
        color: $lightBlack;
        border: 1px solid $gray;
        border-right: 0;
        @apply py-1.5 px-3 text-[14px] outline-none rounded-tl-[10px] rounded-bl-[10px] w-full;
    }
    .button{
        letter-spacing: .5px;
        @apply rounded-tl-none w-auto rounded-bl-none text-[12px] py-1.25;
    }
}
.button{
  outline: none;
  border: 1px solid;
  text-decoration: none;
  @apply rounded-[10px] w-full text-[12px] cursor-pointer uppercase py-2 px-2.5;
  &.btnblue{
    // background-color: rgba($blue, .6);
    background-color: $blue;
    color: $white;
    border-color: $border_blue;
  }
  &.btngreen{
    background-color: $green;
    color: $white;
    border-color: $border_green;
  }
  &.btnyellow{
    background-color: $yellow;
    color: $white;
    border-color: $border_yellow;
  }
  &.btnorange{
    background-color: $orange;
    color: $white;
    border-color: $border_orange;
  }
  &.btnred{
    background-color: $red;
    color: $white;
    border-color: $border_red;
  }
  &.disabled, &:disabled{
    @apply cursor-not-allowed pointer-events-none;
    color: $darkgray;
    border-color: $gray;
    background-color: $lightGray2;
  }
}
