@use '@/styles/colors' as *;

@reference 'tailwindcss';
.heroBanner{
    @apply flex justify-between items-center rounded-3xl
    p-10 text-white;

    background: linear-gradient(
        135deg,
        #0F4C81,
        #2F80ED,
        #56CCF2
    );
}

.badge{
    @apply bg-white text-blue-700
    px-4 py-2 rounded-full
    text-sm font-semibold;
}

.left{
    @apply w-3/5;
}

.left h1{
    @apply text-4xl font-bold mt-5;
}

.left p{
    @apply mt-5 text-lg opacity-90 leading-8;
}

.features{
    @apply flex gap-6 mt-8 text-base font-semibold;
    .check{
        @apply float-left mr-1;
        filter: invert(62%) sepia(45%) saturate(6153%) hue-rotate(87deg) brightness(96%) contrast(89%);
    }
}

.right{
    .imageContainer{
        @apply relative drop-shadow-2xl rounded-[20px] w-90 h-70 overflow-hidden;
        img{
            @apply w-full h-full object-cover;
        }
    }
    .btngreen{
        color: $white;
        background-color: $border_green;
        @apply clear-both inline-block text-center w-full mt-4 cursor-pointer py-2.5 px-5 rounded-[10px] text-[13px] font-semibold;
    }
}