@use '@/styles/colors' as *;

@reference 'tailwindcss';
.customDropdown{
  @apply w-full relative;
  .dropdownInput {
    border: 1px solid $gray;
    @apply px-2.5 py-2 text-[13px] w-full rounded-[10px] clear-both float-left h-9.5 cursor-pointer outline-0;
    .arrow {
      @apply float-right m-2;
      &.open {
          transform: rotate(180deg);
          transition: transform .3s ease-out;
      }
      &.close {
          transform: rotate(0);
          transition: transform .3s ease-out;
      }
    }
  }
  .dropwdownList {
    border: 1px solid $gray;
    background-color: $white;
    @apply left-0 top-12 z-1 w-full min-h-30 absolute rounded-[10px] py-5 px-2.5;
    .dropwdownSearch {
      @apply relative w-full inline-block;
      .searchIcon {
        @apply absolute top-2.5 right-2.5 w-5;
        img{
          @apply w-full;
          filter: invert(49%) sepia(58%) saturate(13%) hue-rotate(328deg) brightness(87%) contrast(87%);
        }
      }
      input[type=text]{
        border: 1px solid $gray;
      }
    }
    ul {
      @apply h-55 mt-3 overflow-y-auto;
      li{
        @apply px-3 py-2 text-[11px] cursor-pointer rounded-[10px];
        &:hover{
          color: $darkBlue;
          background-color: rgba($lightBlue, .1);
        }
        strong{
          @apply font-semibold text-[12px];
        }
        p{
          @apply text-[11px] m-0;
        }
      }
    }
    .noClient{
      @apply inline-block text-center text-[12px] w-full mt-5;
    }
  }
}