@use '@/styles/forms';
@use '@/styles/helpers';
@use '@/styles/reuseable';
@use '@/styles/colors' as *;

@reference 'tailwindcss';
:global(.ant-modal), :global(.ant-modal .ant-modal-close) {
    @apply outline-none!;
}
.heroBanner {
    @apply flex flex-col lg:flex-row
    justify-between items-center
    rounded-3xl
    p-6 md:p-8 lg:p-10
    gap-10
    text-white;

    background: linear-gradient(
        135deg,
        #0F4C81,
        #2F80ED,
        #56CCF2
    );

    .left {
        @apply w-full lg:w-3/5
        text-center lg:text-left;

        .badge {
            @apply bg-white text-blue-700
            px-4 py-2 rounded-full
            text-sm font-semibold
            inline-block;
        }

        h1 {
            @apply mt-5
            text-3xl md:text-4xl lg:text-5xl
            font-bold
            leading-tight;
        }

        p {
            @apply mt-5
            text-base md:text-lg
            leading-7 md:leading-8
            opacity-90;
        }

        .features {
            @apply flex flex-col sm:flex-row
            gap-3 sm:gap-6
            mt-8
            text-sm md:text-base
            font-semibold
            justify-center lg:justify-start;

            > span {
                @apply inline-flex items-start gap-2 text-[14.5px];
            }

            .check {
                @apply shrink-0 -m-px;
                filter: invert(62%) sepia(45%) saturate(6153%)
                    hue-rotate(87deg) brightness(96%) contrast(89%);
            }
        }
    }

    .right {
        @apply w-full lg:w-auto;

        .imageContainer {
            @apply relative
            w-full
            max-w-md
            mx-auto
            h-64 md:h-80 lg:w-95 lg:h-70
            rounded-[20px]
            overflow-hidden
            drop-shadow-2xl;

            img {
                @apply w-full h-full object-cover;
            }
        }

        .btngreen {
            color: $white;
            background-color: $border_green;

            @apply block
            w-full
            mt-4
            text-center
            cursor-pointer
            py-3
            px-5
            rounded-[10px]
            text-sm
            font-semibold;
        }
    }
}

.dashboardWrapper {
    @apply mb-5;
    /* CONTENT */
    .contentArea {
        @apply clear-both w-full mt-10;
        /* STATS */
        .statsGrid {
            @apply grid grid-cols-3 gap-4 mb-6;
            .card {
                background-color: $lightGray;
                border: 1px solid $lightGray2;
                @apply p-4 rounded-xl;

                p {
                    @apply text-xs text-gray-500;
                }

                h2 {
                    @apply text-xl font-semibold;
                    color: $blue;
                }
            }
        }
        .scheduleWrapper {
            @apply flex flex-row gap-6 mt-0;
            .scheduleBox{
                @apply w-80;
                .boxWrapper{
                    .box{
                        border: 1px solid $gray;
                        background-color: $lightGray;
                        @apply p-5 rounded-[20px] my-5 min-h-40;
                    }
                }
            }
            .upcomingList {
                @apply w-1/4 p-4;
                .button{
                    @apply w-auto -mt-5 block mb-4 py-1.5;
                }
                h3 {
                    color: $orange;
                    @apply text-lg font-semibold mb-3 clear-both;
                }

                ul {
                    @apply list-none space-y-2 text-sm text-gray-700;
                    li {
                        @apply cursor-pointer flex flex-row items-center mb-4;
                        .categoryColor{
                            @apply h-2 w-2 rounded-[50%] mr-3;
                        }
                        p{
                            @apply text-[11px];
                        }
                    }
                }
            }
            .feedbackActions{
                @apply flex flex-row mt-0;
                .button{
                    @apply mx-1;
                }
            }

            /* CALENDAR */
            .calendarContainer{
                @apply w-full xl:w-160 flex-none;
                .calender{
                    @apply clear-both w-full;
                }
                :global(.fc-toolbar-title) {
                    color: $blue;
                    @apply text-2xl font-normal;
                }
                :global(.fc-today-button){
                    background-color: $orange !important;
                    @apply py-1 px-5 text-[12px] uppercase border-0 rounded-[10px];
                }
                :global(.fc-button-group button){
                    background-color: $blue !important;
                    @apply py-0.5 px-5 mx-0.5 text-[12px] uppercase rounded-lg;
                }
                :global(.fc-event) {
                    background-color: $blue;
                    @apply text-[11px] rounded-lg;
                }
                :global(.fc-theme-standard th){
                    @apply text-[12px] font-semibold py-px;
                }
                :global(.fc-theme-standard td){
                    @apply text-[13px];
                }

                .legends{
                    @apply mt-1;
                    strong{
                        @apply text-[12px];
                    }
                    ul{
                        @apply flex flex-row mt-1;
                        li{
                            @apply text-[11.5px] pr-3 flex flex-row items-center;
                            .categoryColor{
                                @apply h-2 w-2 rounded-[50%] mr-1;
                            }
                        }
                    }
                }
            }
            
        }
    }
}
.addSchedule{
    @apply relative;
    .addSchedLbl{
        color: $blue;
        font-weight: 500;
        @apply text-[25px] mt-1 mb-8;
    }
    .actions{
        @apply float-right w-20 -mt-10;
        .action{
            @apply cursor-pointer;
            &.edit{
                @apply relative -top-px;
                span{
                    @apply m-0;
                }
            }
        }
    }
    .schedForm{
        @apply clear-both w-full;
    }
}
@media (max-width: 1300px) {
    .dashboardWrapper{
        .contentArea{
            .scheduleWrapper{
                @apply flex-wrap mt-4;
                .upcomingList{
                    @apply px-0;
                }
                .scheduleBox{
                    @apply mt-4 w-full;
                    .feedbackActions{
                        @apply w-75;
                    }
                    .boxWrapper{
                        @apply w-[50%] float-left px-2;
                        .box{
                            @apply mb-1.5;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
  .dashboardWrapper {
    @apply px-0;
    .contentArea{
        .statsGrid{
            @apply gap-2.5;
            .card{
                @apply p-2.5;
            }
        }
        .scheduleWrapper{
            @apply flex-col;
            .upcomingList{
                @apply px-0 pb-0;
            }
            .upcomingList, .calendarContainer, .scheduleBox{
                @apply w-full;
            }
            .calendarContainer{
                @apply mt-0;
                :global(.fc-toolbar-title) {
                    @apply w-38 relative top-4 text-[20px];
                }
                :global(.fc-event) {
                    background-color: $blue;
                    @apply text-[10px];
                }
                :global(.fc-button), :global(.fc-button-group) {
                    @apply float-right px-2;
                }
                :global(.fc-button-group){
                    @apply mt-2 px-0 clear-both;
                }
                :global(.fc-button-group .fc-button){
                    @apply px-2.5;
                }
                :global(.fc .fc-toolbar.fc-header-toolbar){
                    @apply mb-3;
                }
                :global(.fc-theme-standard td){
                    @apply text-[11px];
                }
            }
        }
    }
  }
}
