@use '@/styles/forms';
@use '@/styles/helpers';
@use '@/styles/reuseable';
@use '@/styles/colors' as *;

@reference 'tailwindcss';
:global(.ant-picker) {
  border: 1px solid $gray;
  background-color: $white;
}
:global(.ant-popover-container) {
  @apply rounded-[20px]!;
}
:global(.ant-popconfirm-buttons) {
  display: flex;
  justify-content: center; /* centers buttons */
  gap: 8px; /* optional spacing */
}
:global(.ant-btn) {
  @apply px-5 -mx-1.5;
}
.header{
    @apply inline-block w-full mb-0 mt-3;
    .button{
      @apply mr-2.5 w-auto float-left;
    }
    .searchComponent{
      @apply float-right mt-0;
      input[type=text]{
        @apply h-9.5;
      }
      .button{
          @apply mr-0;
      }
    }
}
.box{
  border: 1px solid $gray;
  background-color: $lightGray;
  @apply w-220 mx-auto relative h-full rounded-[20px] p-5 pb-0 flex flex-col mb-2.5;
  .boxTitle{
    color: rgba($lightBlack, .7);
    font-weight: 600;
    @apply text-[18px] mb-3;
  }
  input[type=text].lblContent{
    background-color: $transparent;
  }
}
.filters{
  background-color: $lightGray;
  border: 1px solid rgba($gray, .5);
  @apply rounded-[20px] p-3.5 pb-1 w-full mb-3 -mt-2.5;
  .cards{
    // @apply justify-normal flex-nowrap mb-3;
    .npt{
      @apply pb-5;
    }
  }
  .cards .btmDate{
    @apply p-0;
  }
}
.tableRecords{
  @apply relative mt-2;
  .activeRow, .activeRow td, .activeRow:hover td{
    background-color: #fbdfdf !important;
  }
  .actions{
    @apply flex items-center justify-center;
    .action{
      @apply mx-1.5 cursor-pointer;
      span{
        @apply relative text-[7px];
      }
    }
  }
}
@media (max-width: 768px) {
  .header {
    .button{
      @apply mr-2;
      &.btnorange{
        @apply mr-0;
      }
    }
    .searchComponent{
        @apply w-full mt-5;
    }
  }
  .tableRecords{
    @apply w-full!;
  }
  .filters{
    .cards{
      .card.w33{
        width: calc((100% - 10px) / 2);
        .npt{
          @apply pb-5;
        }
      }
    }
  }
}