@use '@/styles/forms';
@use '@/styles/helpers';
@use '@/styles/reuseable';
@use '@/styles/colors' as *;

@reference 'tailwindcss';

.header{
    @apply inline-block w-full mb-3.75;
    .button{
        @apply mr-2.5;
    }
    .searchComponent{
        @apply float-right;
    }
}
.box{
    border: 1px solid $gray;
    background-color: $lightGray;
    @apply h-full rounded-[20px] p-5 pb-0 flex flex-col;
    .boxTitle{
        color: rgba($lightBlack, .7);
        font-weight: 600;
        @apply text-[18px];
    }
    .boxDetails{
        @apply flex items-center h-full;
        .avatar{
            border: 1px solid $gray;
            background-color: $white;
            @apply w-30 h-30 relative -top-5 rounded-[50%] flex items-center justify-center;
            svg{
                @apply w-[70%];
            }
            img{
                @apply w-[60%];
                filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(148deg) brightness(88%) contrast(88%);
            }
        }
        .avatarDetails{
            @apply flex-1 pl-3.75;

            input{
                background-color: $white;
            }
        }
    }
}