@use '@/styles/forms';
@use '@/styles/helpers';
@use '@/styles/colors' as *;

@reference 'tailwindcss';

.header{
  @apply inline-block w-full mb-0 mt-0;
    .button{
      @apply -mt-1 mr-2.5 w-auto;
      &.btnorange{
        @apply relative top-0 h-8 pt-1.5;
      }
    }
    .searchComponent{
        @apply float-right -mt-0.5;
        .button{
            @apply mr-0 mt-0;
        }
    }
}
.cards{
  @apply my-8;
  .card{
    @apply p-4;
    .cardBody{
      border: 1px solid $gray;
      @apply py-2 shadow-lg rounded-[20px] my-2 h-100 overflow-hidden;
      img{
        @apply w-full h-full object-cover;
      }
    }
  }
}
.box {
  border: 1px solid $gray;
  background-color: $lightGray;
  @apply rounded-[20px] min-h-100 flex items-center justify-center;

  h3{
    color: $gray;
    @apply font-extrabold text-[80px];
  }
  .caption{
    color: $darkgray;
    @apply text-sm text-center;

    strong{
        color: $blue;
        span{
          color: $orange;
        }
    }
  }
}
.customFileUpload{
    border: 1px solid $gray;
    background-color: $lightGray;
    @apply w-125 relative overflow-hidden cursor-pointer h-42.5 rounded-[20px] mx-auto my-5;
    
    &.hasImage{
        border: 0;
    }
    &.err{
        border-color: $red;
    }
    &.disabled{
        background-color: $gray;
        @apply cursor-not-allowed pointer-events-none opacity-[.3];
    }
    .customFile{
        @apply h-full flex cursor-pointer items-center flex-col justify-center;
        input[type='file'] {
            @apply hidden
        }
        .empty_image{
            @apply w-12.5;
            img{
                @apply w-7.5 h-7.5;
            }
        }
        img{
            @apply mb-0;
            &.browse_image{
                @apply object-cover m-0 w-[full];
            }
        }
        p{
            @apply mb-1.25;
        }
        span{
            @apply text-center text-[12px];
        }
    }
    .remove_featured{
        @apply absolute top-2.5 z-1 right-2.5 w-7 p-2 flex rounded-[50%] overflow-hidden items-center justify-center;
        img{
            @apply w-full;
        }
    }
}