@use '@/styles/colors' as *;

@reference 'tailwindcss';

.box {
  border: 1px solid $gray;
  background-color: $lightGray;
  @apply rounded-[20px] min-h-100 flex items-center justify-center;

  h3{
    color: $gray;
    @apply font-extrabold text-[70px];
  }
  .caption{
    color: $darkgray;
    @apply text-sm text-center;

    strong{
        color: $blue;
        span{
          color: $orange;
        }
    }
  }
}