@use '@/styles/forms';
@use '@/styles/helpers';
@use '@/styles/colors' as *;
@reference 'tailwindcss';

.modelTitle{
  @apply px-2 mt-4;
  strong{
    @apply text-[20px];
  }
  p{
    @apply mt-0.5 mb-4 leading-5;
    a{
      color: $blue;
    }
  }
}
.resetUserPassword{
  @apply p-2;
  .btnblue{
    @apply max-w-70 mx-auto block;
  }
  .loader{
    @apply top-[40%];
  }
}
.success {
  @apply flex items-center justify-center rounded-[20px] w-120;

  .successCheck {
    @apply mr-2.5;

    svg {
      @apply block float-left w-20;
    }

    .path {
      stroke-dashoffset: 0;
      stroke-dasharray: 1000;

      &.circle {
        -webkit-animation: dash .9s ease-in-out;
        animation: dash .9s ease-in-out;
      }
      &.line {
        stroke-dashoffset: 1000;
        -webkit-animation: dash .9s .35s ease-in-out forwards;
        animation: dash .9s .35s ease-in-out forwards;
      }
      &.check {
        stroke-dashoffset: -100;
        -webkit-animation: dashCheck .9s .35s ease-in-out forwards;
        animation: dashCheck .9s .35s ease-in-out forwards;
      }
    }
  }

  .successMessage {
    @apply text-[14px] mt-0.5 text-center;
    h4{
      color: $blue;
      @apply text-[22px] font-semibold;
    }
    p{
      color: $black;
      @apply text-[13px] mb-4 italic leading-4.5;
    }
    .button{
      @apply w-30 mx-auto block;
    }
  }

  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes dashCheck {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes dashCheck {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
}

@media (max-width: 768px) {
  .success{
    @apply w-full;
    .successCheck {
      @apply mr-2;

      svg {
        @apply w-15;
      }
    }
    .successMessage {
      h4{
        color: $blue;
        @apply text-[18px];
      }
      p{
        color: $black;
        @apply text-[12px];
      }
    }
  }
}