@use '@/styles/theme';
@use '@/styles/helpers';
@use '@/styles/colors' as *;
@reference 'tailwindcss';
body, html{
    overflow-x: hidden;
}
.app{
    @apply min-h-screen flex flex-row;
    .appSidebar{
        @apply w-50 bg-app-blue relative px-2.5;
        img{
            filter: invert(97%) sepia(15%) saturate(303%) hue-rotate(250deg) brightness(119%) contrast(100%);
        }
        .sidebarArrow{
            background-color: $lightBlue;
            @apply absolute cursor-pointer rounded-[5px] top-5.5 h-6.25 w-6.25 p-1.5 -right-2.5;
        }
        &.slideRight{
            @apply w-50;
            transition: width .3s ease;
            .sidebarArrow{
                transform: rotate(90deg);
                transition: transform .4s ease-out;
            }
            .mainLink, .sublinks{
                @apply block;
                animation: fadeIn .5s ease-in forwards;
            }
            @keyframes fadeIn {
                from { opacity: 0; }
                to { opacity: 1; }
            }
        }
        &.slideLeft{
            @apply w-15;
            transition: width .3s ease;
            .sidebarArrow{
                transform: rotate(270deg);
                transition: transform .4s ease-out;
            }
            .appSidebarLinks{
                .mainLink{
                    border: 1px dotted $white !important;
                    transition-delay: .2s;
                    span, .linkArrow{
                        @apply hidden;
                    }
                    .link{
                        .mainLinkIcon{
                            @apply -ml-px;
                        }
                    }
                }
            }
            
            .links{
                .sublinks{
                    animation: flipInY .8s;
                    @apply hidden opacity-[1] z-1;
                    -webkit-animation: flipInY .8s;
                    border: 1px solid $lightGray2;
                    &::after {
                        @apply block w-3 h-3 -left-4 relative;
                        background-color: $lightBlue;
                        content: "\00a0";
                        transform:             rotate( 45deg );
                            -moz-transform:    rotate( 45deg );
                            -ms-transform:     rotate( 45deg );
                            -o-transform:      rotate( 45deg );
                            -webkit-transform: rotate( 45deg );
                    }
                    &.open{
                        border: 0;
                        border-radius: 10px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        background-color: $lightBlue;
                        @apply block absolute p-2.5 pb-5 -top-5 left-8 overflow-visible;
                        &.hasOne{
                            height: 55px !important;
                            @apply -top-2;
                            &::after{
                                @apply -top-5;
                            }
                        }
                        &.hasTwo{
                            height: 96px !important;
                            @apply -top-6.25;
                            &::after{
                                @apply -top-10;
                            }
                        }
                        &.hasThree{
                            height: 130px !important;
                            @apply -top-8.75;
                            &::after{
                                @apply -top-15;
                            }
                        }
                        &.hasFour{
                            height: 150px !important;
                            @apply -top-10.5;
                            &::after{
                                @apply -top-20;
                            }
                        }
                        &.hasFive{
                            height: 180px !important;
                            @apply -top-11.25;
                            &::after{
                                @apply -top-27.5;
                            }
                        }
                        li{
                            border: 0 !important;
                            @apply p-0;
                            &::before, &:hover::before{
                                @apply hidden;
                            }
                            a{
                                color: $white;
                                border-color: $white;
                                background-color: $transparent !important;
                                @apply rounded-none;
                                &:hover{
                                    color: $activeColor;
                                }
                                &.isActive{
                                    color: $activeColor;
                                }
                            }
                        }
                    }
                }
            }
        }
        .appSidebarLinks{
            @apply my-18;
            .links{
                li{
                    @apply relative mb-1.5;
                    .mainLink{
                        border-top: 1px solid $transparent;
                        border-bottom: 1px dotted $white;
                        &.isActive{
                            @apply bg-app-blue-dark cursor-pointer;
                        }
                        @apply flex flex-row hover:bg-app-blue-dark rounded-[10px] cursor-pointer;
                        .linkArrow{
                            @apply w-10 h-9 p-2.75 -mt-3.5 right-0 top-4.5 float-right relative cursor-pointer;
                            img{
                                @apply w-full;
                            }
                            &.linkArrowOpen{
                                transform: rotate(180deg);
                                transition: transform .4s ease-out;
                            }
                            &.linkArrowClose{
                                transform: rotate(0deg);
                                transition: transform .4s ease-out;
                            }
                        }
                    }
                }
                
                .link{
                    text-shadow: 1px 1px 0 $lightBlack;
                    @apply text-app-white inline-block w-full p-2.5 text-[14px];
                    .mainLinkIcon{
                        @apply cursor-pointer float-left h-5 mr-1 ml-0;
                        img{
                            @apply w-full;
                        }
                    }
                    
                }
                .sublinks{
                    @apply ml-4.5 h-0 overflow-hidden;
                    &.close{
                        @apply h-0;
                        transition: height .2s ease-in;
                    }
                    &.open{
                        transition: height .2s ease-in;
                        &.hasOne{
                            @apply h-10.5;
                        }
                        &.hasTwo{
                            @apply h-21.25;
                        }
                        &.hasThree{
                            @apply h-32.5;
                        }
                        &.hasFour{
                            @apply h-45;
                        }
                        &.hasFive{
                            @apply h-52.5;
                        }
                    }
                    li{
                        border-left: 1px dotted $white;
                        @apply relative pt-2 w-40 pl-3 py-0.5 mb-px;
                        &::before{
                            content: "";
                            display: inherit;
                            border-left: 1px dotted $white;
                            border-bottom: 1px dotted $white;
                            @apply top-0.75 -left-px rounded-bl-[10px] w-3.75 h-5 absolute;
                        }
                        &:last-child{
                            border: 0;
                            &::before{
                                @apply left-0 h-6.25 -mt-1.5;
                                content: "";
                                border-left: 1px dotted $white;
                            }
                        }
                        a{
                            border-bottom: 1px dotted $white;
                            &.isActive{
                                @apply bg-app-blue-dark;
                            }
                            @apply py-1.5 px-2.5 text-[13px] hover:bg-app-blue-dark rounded-[10px];
                        }
                    }
                }
            }
        }
    }
    .appContent{
        background-color: $white;
        @apply flex-1;
        .appHeader{
            background-color: $white;
            border-bottom: .5px solid rgba($gray, .8);
            @apply px-5 pt-2.5 pb-1.25 min-h-17.5 justify-between flex flex-row items-center w-full;
            .logo{
                @apply w-63 h-22.5 block float-left;
                img{
                    @apply w-full h-full;
                }
            }
            .headerRight{
                @apply flex flex-col;
                .sessionUser{
                    @apply flex flex-row min-h-12.5;
                    .avatar{
                        background-color: $lightGray;
                        @apply w-11.25 h-11.25 mt-1 p-2 rounded-[50%] cursor-pointer;
                    }
                    .sessionUserDetails{
                        @apply pl-2.5 min-w-75;
                        h2{
                            color: $blue;
                            border-bottom: .5px solid;
                            @apply text-[15px] mt-1.5;
                        }
                        strong{
                            @apply text-[12px] block;
                        }
                        .headerIcons{
                            @apply flex flex-row w-50 mt-2;
                            .headerIcon{
                                @apply flex-1 flex justify-center items-center;
                                &:first-child::before{
                                    @apply hidden;
                                }
                                &::before{
                                    content: "";
                                    border-left: 1px dashed $lightBlue;
                                    @apply relative -left-4.5 h-3.5;
                                }
                                &:last-child .icon{
                                    filter: invert(14%) sepia(68%) saturate(6951%) hue-rotate(358deg) brightness(101%) contrast(113%);
                                }
                                .icon{
                                    @apply w-4.5 cursor-pointer;
                                    filter: invert(64%) sepia(1%) saturate(0%) hue-rotate(28deg) brightness(98%) contrast(95%);
                                    img{
                                        @apply w-full;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .appBody{
            @apply p-5 pt-2.5;
            .breadcrumbs{
                @apply mb-6.25;
                ol{
                    @apply flex flex-row flex-wrap;
                    li{
                        list-style: none;
                        &::before {
                            @apply inline-block mx-1 text-[10px];
                            content: '/';
                        }
                        &:nth-child(1){
                            &::before {
                                content: '';
                                @apply hidden;
                            }
                            a{
                                @apply pl-0;
                            }
                        }
                        &.active{
                            a{
                                color: $darkgray;
                                cursor: not-allowed;
                                pointer-events: none;
                            }
                        }
                        a{
                            color: $blue;
                            @apply text-[11px] p-1.25 uppercase no-underline;
                        }
                    }
                }
            }
        }
        .cards{
            .cardBox{
                // border: 1px solid $blue;
                @apply min-h-30 rounded-[10px] p-2.5 border-app-blue-light;
            }
        }
    }
}

@keyframes flipInY
{
    0% {
        transform: perspective(500px) rotateY(70deg);
        opacity: .2;
    }
    30% {
        transform: perspective(500px) rotateY(-30deg);
    }
    85% {
        transform: perspective(500px) rotateY(10deg);
    }
    100% {
        transform: perspective(500px) rotateY(0deg);
    }
}
@-webkit-keyframes flipInY
{
    0% {
        -webkit-transform: perspective(500px) rotateY(70deg);
        opacity: .2;
    }
    30% {
        -webkit-transform: perspective(500px) rotateY(-30deg);
    }
    85% {
        -webkit-transform: perspective(500px) rotateY(10deg);
    }
    100% {
        -webkit-transform: perspective(500px) rotateY(0deg);
    }
}

@media (max-width: 768px) {
  .app {
    .appSidebar{
        @apply px-2;
        &.slideLeft{
            .links{
                li{
                    .mainLink{
                        .link{
                            @apply flex items-center justify-center;
                            .mainLinkIcon{
                                @apply m-0!;
                            }
                        }
                    }
                }
            }
        }
        &.slideRight {
            @apply w-38;
        }
        .appSidebarLinks{
            .links{
                li{
                    .mainLink{
                        .link{
                            @apply px-2;
                            .mainLinkIcon{
                                @apply w-4! h-4! m-0 mt-0.5 mr-1;
                            }
                            span{
                                @apply text-[12px];
                            }
                        }
                    }
                }
            }
        }
    }
    .appContent{
        @apply w-full overflow-auto;
        .appHeader{
            @apply flex-col min-h-auto px-4;
            .logo{
                @apply w-50 h-18 mt-2;
            }
            .headerRight{
                .sessionUser{
                    @apply my-4;
                    .sessionUserDetails{
                        @apply min-w-50;
                    }
                }
            }
        }
        .appBody{
            @apply px-3.5;
        }
    }
  }
}