@use '@/styles/colors' as *;
@reference 'tailwindcss';

.form{
  @apply relative;
}

.field{
  @apply relative flex flex-col;
  input[type=text], input[type=email], textarea{
    @apply w-full;
  }
  &.err{
    input[type=text], input[type=email], textarea{
      border: 1px solid rgba($red, .6);
    }
  }
  .errmsg{
    @apply text-[10px] mt-1.5 text-right;
    color: $red;
  }
}

.success {
  @apply flex items-center justify-center rounded-[20px];

  .successCheck {
    @apply mr-2.5;

    svg {
      @apply block float-left w-20;
    }

    .path {
      stroke-dashoffset: 0;
      stroke-dasharray: 1000;

      &.circle {
        -webkit-animation: dash .9s ease-in-out;
        animation: dash .9s ease-in-out;
      }
      &.line {
        stroke-dashoffset: 1000;
        -webkit-animation: dash .9s .35s ease-in-out forwards;
        animation: dash .9s .35s ease-in-out forwards;
      }
      &.check {
        stroke-dashoffset: -100;
        -webkit-animation: dashCheck .9s .35s ease-in-out forwards;
        animation: dashCheck .9s .35s ease-in-out forwards;
      }
    }
  }

  .successMessage {
    @apply text-[14px] mt-0.5 text-center;
    h4{
      color: $blue;
      @apply text-[22px] font-semibold;
    }
    p{
      color: $black;
      @apply text-[13px] mb-4 italic leading-4.5;
    }
    button{
      background-color: $taxhelpBlue;
      @apply hover:bg-blue-700 text-white font-semibold px-8 py-4 rounded-lg shadow transition;
    }
  }

  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @-webkit-keyframes dashCheck {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }

  @keyframes dashCheck {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
}